.OrderReturnCardContainer {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 26vh; /* Adjust the height as needed */
    width: 75vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    overflow: hidden; /* Hide overflow content */
    transition: height 0.3s ease; /* Add transition for smooth expand/collapse */
}

.OrderReturnCardContainer:hover {
    height: auto; /* Expand height to fit content on hover */
    background-color: #ecebeb;
}

.OrderReturnCardImageContainer {
    margin-left: 30px;
    margin-top: 35px;
    width: 140px;
    height: 100%; /* Ensure image container fills the height */
}

.OrderReturnCardImageContainer img {
    height: 150px;
    width: 150px;
}

.order-return-card-info {
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 35px;
    width: 70%;
    height: 85%;
    overflow: hidden; /* Hide overflow content */
    position: relative; /* Set position for absolute positioning */
}

/* .order-return-card-info p {
    color: black;
    font-size: 1rem;
    margin-bottom: 5px;
} */

.additional-details :window-inactive {
    position: absolute;
    top: 0;
    left: 100%; /* Position to the right of the main content */
    width: 50%; /* Adjust width as needed */
    height: 100%;
    padding-left: 10px; /* Add padding for spacing */
    background-color: #f9f9f9; /* Add background color for better visibility */
    margin-bottom: 35px;
}

.OrderReturnCardContainer:hover .additional-details {
    display: block; /* Show on hover */
}
.order-return-card-image{
    
    height:100%;
    width:100%;
}
.additional-details{
    margin-bottom: 35px;
}