.aboutUsContainer{
    height: 100vh;
}

.aboutUsImage{ 
    display: flex; 
    float:left;  
    width:50%;
    justify-content: center; 
     
}

.aboutUsText{
    float:left; 
    background-color: white;
    width:50%;
    height: 100%;
}
.aboutUsImage img{
    width: auto;
    height: 100vh;
    object-fit: contain;
}
.aboutUsTitle p{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    font-family: Stardom;
    text-align: left;    
}
.aboutUsTitle{
    height:40%;
    padding-top: 20%;
    padding-right: 10%;
    
}
.aboutUsContent{
    padding:5%;
    padding-left: 0%;
    padding-top:2.5%;
    height:60%;
}
.aboutUsContent p{
    text-align: left;
}