.BRsection-Container{
    height: auto;
    width: 100vw;
    padding: 3rem;
}

.BRsec-header{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BRsec-header #header-text{
    font-family: "Stardom";
    font-size: 40px;
    color:black;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

