

.BRsec-Category-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 317px;
  background: #ffffff;
  /* border: 1px solid black; */
  }

  .category-title{
    padding: 1rem;
    text-align: center;
    color: black;
    font-size: 24px;
  }
  
  .BRsec-Category-Card p{
    font-family: 'Stardom';
    font-size: 16px;
  }

  .Category-img {
    width: 100%; /* Ensures the image takes the full width of its container */
    height: 100%; /* Ensures the image takes the full height of its container */
    overflow: hidden; /* Hides any overflow if the image is larger than its container */
  }

  .Category-img :hover{
    transform : scale(0.95);
  }
  
  .Category-img img {
    width: 100%; /* Ensures the image takes the full width of its container */
    height: 100%; /* Ensures the image takes the full height of its container */
    object-fit: cover; /* Scales the image while maintaining its aspect ratio to cover the entire container */
  }