.ProductsList {
    display: flex;
    flex-direction: row;
  }
  
  .ProductsContainer button {
    padding: 10px 20px;
  
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ProductsContainer button:hover {
    background-color: black;
    color: white;
  }
  .AddNewProducts {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
  }
  .ProductsListTitle{
      display: flex;
      justify-content: center;
      align-items: center;
      border-top:1px  solid black;
      border-bottom: 1px solid black; 
  }
  .ProductsListTitle span{
      font-size: 40px;
  }
  