.UsersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;

}
.UsersContainer{
  width:100%;
}

.UsersContainer button {
  padding: 10px 20px;

  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.UsersContainer button:hover {
  background-color: black;
  color: white;
}
.AddNewUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.UsersListTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px  solid black;
    border-bottom: 1px solid black; 
}
.UsersListTitle span{
    font-size: 40px;
}
