.counter {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    width: 30%;
    height: 10%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
.CounterBtn {
    padding: 5px 10px;
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .counter span {
    font-size: 20px;
  }
  