.history-product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 25vh;
  width: 98.8vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 10px;
}

.product-image-container {
  margin-left: 30px;
  width: 140px;
  height: 140px;
  position: relative;
  bottom: 0px;
}

.product-image {
  height: 100%;
  width: 100%;
}

.product-info {
  margin-left: 2%;
  margin-right: 10%;
  width: 70%;
  height: auto;
}

.product-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10%;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50px;
  align-items: flex-start;
}
