.history-product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 25vh;
  width: 98.8vw;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 10px;
}

.product-image-container {
  margin-left: 30px;
  width: 140px;
  height: 140px;
  position: relative;
  bottom: 0px;
}

.product-image {
  height: 100%;
  width: 100%;
}

.product-info {
  margin-left: 2%;
  margin-right: 10%;
  width: 70%;
  height: auto;
}

.DisabledBtn{
  position: relative;
  right: 5%;
  width: 150px;
  height: 35px;
  bottom: 22%;
  color: rgb(83, 83, 83);
  background-color: rgb(207, 207, 207);
}

.product-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.detail{

    width: 100%;
    display: flex;
}
.StatusMessage{
  color: black;
  display: flex;
  justify-content: flex-end;
}
.detail div{
  width: 35%;
}
.detail span{
  display: inline-block;
  padding-right: 10px;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10%;
}

.product-details {
  display: flex;

  justify-content: space-between;
}

.ReturnBtn{
  position: relative;
  right: 5%;
  width: 150px;
  height: 35px;
  bottom: 22%;
  color: white;
  background-color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.ReturnBtn:hover{
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.ReturnBtn:active{
  transform: scale(0.95);
  box-shadow: none;
}


