.EditProductContainer {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.EditProductContainer h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.EditProductContainer form {
  display: flex;
  flex-direction: column;
}

.EditProductContainer label {
  margin-bottom: 10px;
}

.EditProductContainer input[type="text"],
.EditProductContainer input[type="number"],
.EditProductContainer textarea,
.EditProductContainer select {
  padding: 8px;
  margin-bottom: 10px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.EditProductContainer input[type="file"] {
  display: none;
}

.EditProductContainer button {
  margin-top: 10px;
  border:1px solid #ddd;
  width: 200px;
  height: 40px;

  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.EditProductContainer button:hover {
  background-color: black;
  color:white;
}

.preview-container {
  margin-bottom: 10px;
}

.preview-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.empty-box {
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageUploads {
  display: flex;
  flex-wrap: wrap;
}

.image-upload {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.image-upload label {
  cursor: pointer;
  padding: 8px 12px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.image-upload input[type="file"] {
  display: none;
}
#short {
  width: 100vh;
}
#ProductDescription {
  width: 100vh;
  margin-bottom: 10px;
  height: 30vh;
}

.ProductQuantity {
  display: flex;
  align-items: center;

  margin-top: 10px;
}

.ProductQuantity label {
  margin-right: 10px;
}

.ProductQuantity input {
  width: 80px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
