.ReviewSecContainer{
  height: auto;
}

.ReviewsHeader{
  height: 12vh;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  display: flex;
  align-items: center;    
}

.ReviewsHeader span{
  margin-left: 9.5%;
  font-size: 48px;      
  color: black;
  font-weight: bold;
}

.CommentsSection{
  height: auto; 
  width: 60vw;
  margin-left: 9.5%; 
  /* border: 1px solid red; */
}

.CommentsAndRating{
  padding: 20px 0;
  display: flex;
  /* border: 1px solid green; */
  height: auto;
  min-height: 50vh;
  
}
.RatingAndStar{
  height: 7rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid purple; */
}
.RatingAndStar p{
  font-size: 52px;
  padding: 5px;
  margin-top: 10px;
  /* border: 1px solid red; */
}

.Rating{
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}