*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins';
    color: #666666;
    user-select: none;
}

.Container{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}

.LoginSectionContainer{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* border: 2px solid red; */
}
.FormContainer{
    width: 80%;
    height: 70%;
    /* border: 2px solid black; */
}
.FormContainer p{
    font-family: "Stardom";
    font-size: 3rem;
    color: #333333;
}
.LoginHeader span{
    font-size: 1rem;
}
.Email{
    padding-top: 2rem;
}
.Password{
    padding-top: 1rem;
}

.Password div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-password-button{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
.signupLink{
    padding-top: 0.5rem;
}
