.custom-button-secondary{
    margin-top: 1rem;
    height: 2.9em;
    border-radius: 4px;
    background-color: #ddd;
    color: black;
    transform: scale(1);
    transition: 0.2s;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

.custom-button-secondary:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-button-secondary:active {
    transform: scale(0.95);
    box-shadow: none;
  }